*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: #545454;
}
#logo{
    width: 50px;
    height: 50px;
    
}  

.header_block{
    background-color:#C1FF71;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: bisque;
    margin: 0px;
    padding: 0px;
}
#text_1{
    font-family: Roboto Condensed;
    font-size: 70px;
    text-align: center;
}
#text_2{
    font-family: lato;
    size: 38px;
    text-align: center;
}
.page_controler{
    font-family: Roboto Thin;
    font-size: 25+px;
    display: flex;
    font-style: initial;
}
